.main_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 40px;
}
.news_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.news_item {
  width: 330px;
}
.media {
  height: 140px;
}
 